In [ ]:
# 1. Sum of Even Numbers

def sum_even_numbers(numbers):
    return sum(num for num in numbers if num % 2 == 0)

numbers = [1, 2, 3, 4, 5, 6]
print(sum_even_numbers(numbers))  # Output: 12

12

In [ ]:
# 2. Reverse String

def reverse_string(s):
    return s[::-1]

s = "Hello"
print(reverse_string(s))  # Output: "olleH"

olleH

In [ ]:
# 3. Squares of Numbers

def squares(numbers):
    return [num ** 2 for num in numbers]

numbers = [1, 2, 3, 4, 5]
print(squares(numbers))  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [ ]:
# 4. Prime Number Check

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

for i in range(1, 201):
    if is_prime(i):
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

In [ ]:
# 5. Fibonacci Iterator

class FibonacciIterator:
    def __init__(self, n):
        self.n = n
        self.a, self.b = 0, 1
        self.count = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.count < self.n:
            result = self.a
            self.a, self.b = self.b, self.a + self.b
            self.count += 1
            return result
        raise StopIteration

fib = FibonacciIterator(10)
for num in fib:
    print(num)

0
1
1
2
3
5
8
13
21
34

In [ ]:
# 6. Powers of 2 Generator

def powers_of_two(exponent):
    for i in range(exponent + 1):
        yield 2 ** i

gen = powers_of_two(5)
for power in gen:
    print(power)

1
2
4
8
16
32

In [ ]:
#7. Line Reader Generator

def read_lines(lines):
  for line in lines:
    yield line.strip()

lines = (
"This is the first line.",
"This is the second line.",
"This is the third line.",
)

gen = read_lines(lines)
for line in gen:
  print(line)

This is the first line.
This is the second line.
This is the third line.

In [ ]:
# 8. Lambda Function Sorting

tuples = [(2, 5), (1, 9), (4, 1), (3, 7)]
sorted_tuples = sorted(tuples, key=lambda x: x[1])
print(sorted_tuples)  # Output: [(4, 1), (2, 5), (3, 7), (1, 9)]

[(4, 1), (2, 5), (3, 7), (1, 9)]

In [ ]:
# 9. Celsius to Fahrenheit Map

def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

celsius_temps = [0, 10, 20, 30, 40]
fahrenheit_temps = list(map(celsius_to_fahrenheit, celsius_temps))
print(fahrenheit_temps)  # Output: [32.0, 50.0, 68.0, 86.0, 104.0]

[32.0, 50.0, 68.0, 86.0, 104.0]

In [ ]:
 #10. Remove Vowels Filter

def remove_vowels(s):
    vowels = 'aeiouAEIOU'
    return ''.join([char for char in s if char not in vowels])

s = "Hello World"
print(remove_vowels(s))  # Output: "Hll Wrld"

Hll Wrld

In [1]:
#11.Order Total Cost Calculator
orders = [
    [34587, "Learning Python, Mark Lutz", 4, 40.95],
    [98762, "Programming Python, Mark Lutz", 5, 56.80],
    [77226, "Head First Python, Paul Barry", 3, 32.95],
    [88112, "Einführung in Python3, Bernd Klein", 3, 24.99]
]

result = list(map(lambda order: (order[0], (order[2] * order[3]) + (10 if order[2] * order[3] < 100 else 0)), orders))

print(result)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]